<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %} - ROGER Web Interface</title>
    <meta charset="UTF-8">
    <style type="text/css">
        .container {
            /* max-width: 500px;
            padding-top: 100px;*/
        }

        h2 {
            color: red;
        }
    </style>
</head>

<body>
<div class="container">
    <br>
    {% block content %}{% endblock %}
    <br>
    <footer>
        <p>ROGER Web Interface</p>
    </footer>
</div>
</body>

</html>