.Rproj.user
.Rhistory
.RData
.Ruserdata
__data
*.pyc
*~
venv
.cache
*.cache.*
.vscode
.idea
setup_roche.sh
*.egg-info
.eggs
.pytest_cache
.ipnb_checkpoints
backend_dev.ipynb
backend_dev-checkpoint.ipynb